<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf_GenyiIdiot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Wpf_GenyiIdiot.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wpf_GenyiIdiot.Properties.Settings>
            <setting name="inGameQuestionsCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="timePerQuestion" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="questionCountSetByUser" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="timeSetByUser" serializeAs="String">
                <value>10</value>
            </setting>
        </Wpf_GenyiIdiot.Properties.Settings>
    </userSettings>
</configuration>